*{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

#content button {
    width: 100%;
}

#content > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    padding: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


#content {
    overflow-x: hidden;
    position: absolute;
    right: 0em;
    left: 0em;
    top: 3em;
    bottom: 0em;
}

#fileView > input {
    width: 100%;
    font-size: 1.5em;
}

#canvas1 {
    float:left;
    padding: 0px;
    margin: 0px;
    border:0px;
}
#edit {
    padding: 0px;
    margin: 0px;
    border:0px; 
}
#popupDate{
    width:100%;
}
#entry{
    height:80%;
    width:100%;
}
#errormessage{
    color:red;
}
.stamps .ui-btn {
    width:50px;
    height:50px;
}
.stamps .ui-btn-inner {
    height: 100%;
    width: 100%;
    margin-top: -8px;
}
.ui-icon-weather1 {
    background-color: #F3F3F3;
    background-image: url(../weather/off1.png);
    height:50px;
    width:50px;
}

.ui-icon-weather1-off {
    background-color: #F3F3F3;
    background-image: url(../weather/1.png);
}

.ui-icon-weather2 {
    background-color: #F3F3F3;
    background-image: url(../weather/2.png);
    height:50px;
    width:50px;
}
.ui-icon-weather3 {
    background-color: #F3F3F3;
    background-image: url(../weather/3.png);
    height:50px;
    width:50px;
}
.ui-icon-weather4 {
    background-color: #F3F3F3;
    background-image: url(../weather/4.png);
    height:50px;
    width:50px;
}
.ui-icon-weather5 {
    background-color: #F3F3F3;
    background-image: url(../weather/5.png);
    height:50px;
    width:50px;
}
.ui-icon-weather6 {
    background-color: #F3F3F3;
    background-image: url(../weather/6.png);
    height:50px;
    width:50px;
}
.ui-icon-weather7 {
    background-color: #F3F3F3;
    background-image: url(../weather/7.png);
    height:50px;
    width:50px;
}
.ui-icon-weather8 {
    background-color: #F3F3F3;
    background-image: url(../weather/8.png);
    height:50px;
    width:50px;
}
.ui-icon-weather9 {
    background-color: #F3F3F3;
    background-image: url(../weather/9.png);
    height:50px;
    width:50px;
}